BCU API .NET/Web References/uy.gub.bcu.monedas/wsbcumonedas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="Cotiza" xmlns:wsdlns="Cotiza" name="wsbcumonedas" targetNamespace="Cotiza" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="Cotiza">
      <xsd:complexType name="wsmonedasin">
        <xsd:sequence>
          <xsd:element name="Grupo" type="xsd:byte" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="wsmonedasout">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="wsmonedasout.Linea" type="wsdlns:wsmonedasout.Linea" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="wsmonedasout.Linea">
        <xsd:sequence>
          <xsd:element name="Codigo" type="xsd:short" />
          <xsd:element name="Nombre" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="wsbcumonedas.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Entrada" type="wsdlns:wsmonedasin" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsbcumonedas.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Salida" type="wsdlns:wsmonedasout" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="wsbcumonedas.ExecuteSoapIn">
    <part name="parameters" element="wsdlns:wsbcumonedas.Execute" />
  </message>
  <message name="wsbcumonedas.ExecuteSoapOut">
    <part name="parameters" element="wsdlns:wsbcumonedas.ExecuteResponse" />
  </message>
  <portType name="wsbcumonedasSoapPort">
    <operation name="Execute">
      <input message="wsdlns:wsbcumonedas.ExecuteSoapIn" />
      <output message="wsdlns:wsbcumonedas.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="wsbcumonedasSoapBinding" type="wsdlns:wsbcumonedasSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="Cotizaaction/AWSBCUMONEDAS.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="wsbcumonedas">
    <port name="wsbcumonedasSoapPort" binding="wsdlns:wsbcumonedasSoapBinding">
      <soap:address location="https://cotizaciones.bcu.gub.uy/wscotizaciones/servlet/awsbcumonedas" />
    </port>
  </service>
</definitions>